API_URL=http://localhost:8301
PUBLIC_PROJECT_URL=http://localhost:8301
PUBLIC_PDF_URL=http://localhost:8303

PUBLIC_NAME_PROJECT=CreaDocs
PUBLIC_IS_SANDBOX=true

# TIEMPO DE TOKEN PARA CERRAR DE SESSION
PUBLIC_TOKEN_EXPIRATION_SHOW_MODAL=840000  # 14 minutos
PUBLIC_TOKEN_EXPIRATION=900000 # 15 minutos
