API_URL=
PUBLIC_CARGA_URL=
PUBLIC_PROJECT_URL=
PUBLIC_PDF_URL=

PUBLIC_NAME_PROJECT=CreaDocs
PUBLIC_IS_SANDBOX=true

# TIEMPO DE TOKEN PARA CERRAR DE SESSION
PUBLIC_TOKEN_EXPIRATION_SHOW_MODAL=840000  # 14 minutos
PUBLIC_TOKEN_EXPIRATION=900000 # 15 minutos
