---
import Modal from '@/components/modal/Modal.astro'
import Button from '@/components/ui/Button.astro'
import Icon from '@/components/ui/Icon.astro'
import type { DetailsWorkspace, WorkspaceByUser } from '@/types/workspaces'
import UserLists from './UserLists.astro'
import FormToAssignUser from './FormToAssignUser.astro'
import type { ActionError } from 'astro:actions'

interface Props {
  workspace: DetailsWorkspace
  users: WorkspaceByUser[]
  errorUsers: ActionError<{ uuid: string }> | undefined
}

const { workspace, users, errorUsers } = Astro.props

const hasUsers = users.length > 0 && users.some((user) => user.is_owner === false)
const usersWithOutOwner = users.filter((user) => user.is_owner === false)
---

<div class="flex flex-col gap-2">
  <FormToAssignUser workspace={workspace} />
</div>

<div class="h-px bg-gray-200"></div>

<div class="flex flex-col gap-3">
  <div>
    <label class="mb-1 block text-sm font-medium text-gray-700"> Usuarios con acceso </label>
    <ul class="space-y-2" role="list" id="access-users-list">
      {
        hasUsers ? (
          usersWithOutOwner.map((user) => (
            <li class="flex items-center justify-between rounded-lg border border-gray-200 bg-white/80 p-3 transition-colors hover:border-gray-300" id={`user-list-${user.email}`}>
              <UserLists user={user as WorkspaceByUser} workspaceUuid={workspace.uuid} />
            </li>
          ))
        ) : errorUsers ? (
          <li class="py-3 sm:py-4">
            <div class="flex items-center justify-center gap-x-2">
              <Icon name="CircleX" size={24} stroke-width={1.5} class="text-red-300" />
              <p class="text-sm text-gray-500">Ah ocurrido un error al cargar los usuarios.</p>
            </div>
          </li>
        ) : (
          <li class="py-3 sm:py-4">
            <div class="flex items-center justify-center gap-x-2">
              <Icon name="Users" size={24} stroke-width={1.5} class="text-gray-500" />
              <p class="text-sm text-gray-500">No hay usuarios con acceso.</p>
            </div>
          </li>
        )
      }
    </ul>
  </div>
</div>

<Modal modalId={`delete-user-from-workspace`} title="Eliminar usuario del espacio de trabajo">
  <form class="space-y-6" id="delete-user-from-workspace-form">
    <div class="flex flex-col items-center justify-center py-5">
      <Icon name="Trash" size={48} stroke-width={1.5} class="text-red-300" />
      <p class="mb-2 text-lg font-semibold text-gray-900" id="user-name"></p>
      <p class="mb-4 text-center">¿Estás seguro que quieres eliminar este usuario del espacio de trabajo?</p>
      <input type="hidden" name="workspace-uuid" id="workspace-uuid" />
      <input type="hidden" name="user-email" id="user-email" />
    </div>
    <div class="flex justify-end space-x-4 border-t border-gray-200 pt-4">
      <Button type="button" size="sm" variant="outline" data-close-modal>Cancelar</Button>
      <Button type="submit" size="sm" id="btn-delete-user-from-workspace" loadingText="Eliminando usuario...">Eliminar usuario</Button>
    </div>
  </form>
</Modal>

<!-- Eliminar usuario del espacio de trabajo -->
<script>
  import { actions } from 'astro:actions'
  import { toast } from '@/scripts/toast'
  import { callAction, setButtonLoading } from '@/scripts/utils'

  window.addEventListener('astro:page-load', () => {
    const form = document.getElementById('delete-user-from-workspace-form') as HTMLFormElement
    const userName = document.getElementById('user-name') as HTMLParagraphElement
    const workspaceUuidInput = document.getElementById('workspace-uuid') as HTMLInputElement
    const userEmailInput = document.getElementById('user-email') as HTMLInputElement
    const modal = document.getElementById('delete-user-from-workspace') as HTMLDialogElement
    const accessUsersList = document.getElementById('access-users-list') as HTMLUListElement

    const handleOpenModal = (e: Event) => {
      e.preventDefault()
      const target = e.target as HTMLElement
      if (target.tagName === 'BUTTON' || target.tagName === 'svg') {
        const workspaceUuid = (target as HTMLButtonElement).dataset.workspaceUuid as string
        const userEmail = (target as HTMLButtonElement).dataset.userEmail as string

        userName.textContent = userEmail
        workspaceUuidInput.value = workspaceUuid
        userEmailInput.value = userEmail
        modal.showModal()
      }
    }

    const deleteUserFromWorkspace = async (e: Event) => {
      e.preventDefault()
      const dataForm = new FormData(form)
      const uuid = dataForm.get('workspace-uuid') as string
      const email = dataForm.get('user-email') as string
      setButtonLoading('#btn-delete-user-from-workspace', true)
      const { data, error } = await callAction(actions.workspaces.unassignUser({ uuid, email }))

      if (error) {
        toast.error(error.message)
        setButtonLoading('#btn-delete-user-from-workspace', false)
        modal.close()
        return
      }

      toast.success(data.message)
      modal.close()
      updateUsersList(email)
      setButtonLoading('#btn-delete-user-from-workspace', false)
    }

    // actulizar la lista de usuarios con acceso al espacio de trabajo actulizando el DOM
    const updateUsersList = (email: string) => {
      const userList = document.getElementById(`user-list-${email}`) as HTMLLIElement
      if (userList) {
        userList.remove()
      }
    }

    accessUsersList.addEventListener('click', handleOpenModal)
    form.addEventListener('submit', deleteUserFromWorkspace)
  })
</script>
