---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div
  class:list={[
    'inline-flex h-12 items-center justify-center rounded-lg bg-custom-gray-light p-1',
    className,
  ]}
  role="tablist"
>
  <slot />
</div>
