---
interface Props {
  value: string
  class?: string
}

const { value, class: className } = Astro.props
---

<div
  class:list={[
    'mt-4 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-custom-purple-light focus-visible:ring-offset-2',
    'data-[state=inactive]:hidden',
    className,
  ]}
  role="tabpanel"
  data-tabs-content={value}
  data-state="inactive"
>
  <slot />
</div>
