---
import Input from '@/components/form/Input.astro'
import Button from '@/components/ui/Button.astro'
import MainLayout from '@/layouts/MainLayout.astro'

const tokenSession = await Astro.session?.has('token')

if (!tokenSession) return Astro.redirect('/')

const token = Astro.url.searchParams.get('token')
const email = Astro.url.searchParams.get('email')

if (!token || !email) return Astro.redirect('/profile')
---

<MainLayout title="Cambiar contraseña">
  <div class="mx-auto mt-20 max-w-7xl">
    <h1 class="my-6 text-3xl font-bold text-gray-900">Cambiar contraseña</h1>

    <form class="mb-10" id="form-change-password">
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow shadow-custom-blue3/20">
        <div class="mb-5 border-b border-gray-200 pb-6">
          <h2 class="text-lg font-semibold">Ingrese su nueva contraseña</h2>
        </div>
        <div class="w-2/3 space-y-3">
          <Input label="Contraseña" required type="password" name="password" id="password" />
          <Input label="Confirmar contraseña" required type="password" name="confirm_password" id="confirm_password" />
        </div>
        <div class="mt-7 border-t border-gray-200 pt-6">
          <div class="flex w-2/3 justify-end">
            <Button type="submit" size="sm" id="change-password-btn" loadingText="Cambiando contraseña..."> Cambiar contraseña </Button>
          </div>
        </div>
      </div>
    </form>
  </div>
</MainLayout>

<script>
  import { actions } from 'astro:actions'
  import { toast } from '@/scripts/toast'
  import { callAction, getTokenAndEmailForUrl, setButtonLoading } from '@/scripts/utils'
  import { navigate } from 'astro:transitions/client'
  const form = document.getElementById('form-change-password') as HTMLFormElement

  const changePassword = async (e: Event) => {
    e.preventDefault()

    const dataForm = new FormData(form)
    const password = dataForm.get('password') as string
    const confirmPassword = dataForm.get('confirm_password') as string

    if (password !== confirmPassword) {
      toast.error('Las contraseñas no coinciden')
      return
    }

    setButtonLoading('#change-password-btn', true)

    const { token, email } = getTokenAndEmailForUrl()

    const { data, error } = await callAction(actions.auth.changePassword({ token, newPassword: password }))

    if (error) {
      toast.error(error.message)
      setButtonLoading('#change-password-btn', false)
      return
    }

    toast.success(data.message)
    navigate('/home')
    setButtonLoading('#change-password-btn', false)
  }

  form.addEventListener('submit', changePassword)
</script>
