---
import MainLayout from '@/layouts/MainLayout.astro'
import Editor from '@/components/editor/EditorPdf.astro'

const { uuid } = Astro.params

if (!uuid) return Astro.redirect('/home')
---

<MainLayout class="px-0 pt-14" title="Editor de documentos">
  <div class="">
    <Editor uuid={uuid} />
  </div>
</MainLayout>
