---
import EmptyState from '@/components/ui/EmptyState.astro'
---

<div class="rounded-lg border border-gray-200 bg-white p-4">
  <div class="mb-4 border-b border-gray-200 pb-4">
    <h2 class="text-lg font-medium text-gray-700">
      <span class="inline-flex size-7 items-center justify-center rounded-lg border-2 border-white bg-custom-blue3 p-2 text-base text-white shadow-sm"> 3 </span>
      Condiciones
    </h2>
  </div>

  <div class="flex h-full flex-1 items-center justify-center" data-empty-state-paso3>
    <EmptyState title="Sin condiciones" description="Las condiciones creadas aparecerán aquí" state="info" hiddenAction={true} />
  </div>

  <ul class="hidden space-y-1" data-conditions-container></ul>
</div>
