---
import ConfigLayout from '@/layouts/ConfigLayout.astro'

const { uuid } = Astro.params
const build_number = Astro.url.searchParams.get('build_number') as string

if (!uuid || !build_number) {
  return Astro.redirect('/home')
}
---

<ConfigLayout title="Versión">
  <div class="relative">
    text {uuid}
  </div>
</ConfigLayout>
