<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PDFCreatorCB</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
	}
</style>

<script>
	import tippy from 'tippy.js';
	import 'tippy.js/dist/tippy.css'; // optional for styling

	function init() {
		tippy('[data-tippy-content]');
	}

	// Inicializar en la primera carga
	init();
</script>
